@import "variables";

.btnwrp {
@include buttonBig
}

.btnwrp:hover{
  background-color: $bgColorDark;
  border: 3px solid $bgColorBright
}


@media all and (max-width: 750px) , (max-height: 850px) {
.btnwrp {
  width: 200px;
  height: 70px;
  border: 1px solid #8700FA;

  .star {
      img {
          max-height: 65%;
        }

      span {
        left: 37%;
        top: 18%;
        font-size: 20px;
      }  
  }

  .text {
    font-size: 20px;
    line-height: 25px;


          .defaultSong {
            width: 122px;
            height: 25px;
            font-size: 8px;
            line-height: 25px;
          }
  }
}

}