@import "variables";

.btnwrp {
  @include buttonBig
}

.btnwrp:hover {
  background-color: $bgColorDark;
  border: 3px solid $bgColorBright
}


@media all and (max-width: 750px),
(max-height: 850px) {
  .btnwrp {
    width: 200px;
    height: 70px;
    border: 1px solid #8700FA;

    .star {
      img {
        max-height: 65%;
      }

      span {
        left: 37%;
        top: 18%;
        font-size: 20px;
      }
    }

    .text {
      font-size: 20px;
      line-height: 25px;
      letter-spacing: 2px;


      .currentSong {
        width: 122px;
        height: 25px;
        font-size: 8px;
        line-height: 25px;
      }
    }
  }

}


@media all and (max-width: 500px),
(max-height: 550px) {

  .btnwrp {
    width: 220px;
    height: 50px;
    

    .star {
      img {
        max-height: 60%;
      }

      span {
        left: 11px;
        top: 1px;
        font-size: 10px;
      }
    }

    .text {
      font-size: 14px;
      line-height: 14px;
      letter-spacing: 1px;
      margin-left: 10px;
      



      .currentSong {
        margin-top: 2px;
        width: 120px;
        height: 14px;
        font-size: 8px;
        line-height: 14px;
        overflow: hidden;
      }
    }
  }

}