@import "variables";//variables and common classes

.PageWrp {
    position: relative;
    min-height: 100vh;
    width: 100vw;
      max-width: 1600px;
   display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: flex-start;

    .column {
        width: 100%;
        min-width: 195px;
        height: 100vh;
        max-height: 100vh;
        z-index: 3;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        margin: 0 20px;

         .voiceLevelTable {
            max-width: 100%;
            height: 100%;
            background-color: $bgColorLigth;
            border-radius: 20px;
            margin-top: 60px;
            margin-bottom: 40px;
            display: flex;
            flex-direction: row;
            align-items: center;

            .linesTable {
                width: 45%;
                max-width: 80px;
                height: 95%;
                margin: 20px 10px;
                background: linear-gradient(180deg, #2EDC4A 0%, rgba(247, 238, 43, 0.96) 50.52%, rgba(233, 24, 37, 0.67) 100%);
                box-shadow: 0 4px 4px rgba(0, 0, 0, 0.25);
                border-radius: 11px;
                display: flex;
                flex-direction: column;
                justify-content: flex-end;
                align-items: center;
                

                .linesItem{
                  border-top: 2px solid $bgColorDark;
                  width: 80%;
                  height: 20px;
                }
            }

            .birdMainWrp {
                display: flex;
                flex-direction: column;
                justify-content: flex-end;
                align-items: center;
                height: 100%;
                width: 55%;

            }
            .birdWrp {
                width: 90%;
                background-color: rgba(6, 24, 68, 0.1);
                border-radius: 50%;
                -webkit-border-radius: 50%;
                -moz-border-radius: 50%;
                -ms-border-radius: 50%;
                -o-border-radius: 50%;
                margin-bottom: 20px;//Этим параметром управлять для подъема птицы
            }

            img {
                max-width: 100%;
            }
        }

    }

    .column:nth-child(odd) {
        flex: 1;
    }

    .column:nth-child(even) {
        flex: 2;
        justify-content: start;
    }

    .title {
        margin-top: 60px;
        font-style: normal;
        font-weight: normal;
        font-size: 48px;
        line-height: 65px;
        letter-spacing: 0.185em;
        img {
            max-width: 100%;
            height: auto;
        }

        p {
            font-size: 36px;
            line-height: 49px;
            text-align: center;
            letter-spacing: 0.1em;
        }
    }

    .btnsWrp {
        margin-top: 30px;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: space-evenly;

    }

    .volumeControlWrp{
        width: fit-content;
        position: relative;
        display: flex;
        flex-direction: row;
        vertical-align: top;
        border-radius: 10px;
        border:  1px solid $bgColorBright;
        margin: 50px auto;
        background-color: $bgColorLigth;;

      legend {
        width: 100%;
        font-weight: 700;
        color: $TextLigthColor;
        background-color: $bgColorBright;
        padding: 2px 1px;
        border-radius: 5px 5px 0 0;
      }

      label {
        display: flex;
        flex-direction: row;
        justify-content: center;
        width: 150px;
        margin: 10px auto;

      }

      input{
        width: 200px;
      }
    }

}


@media all and (max-width: 900px) {

    .column:nth-child(1) {
        display: none;
    }
}

@media all and (max-width: 750px) , (max-height: 850px) {

    .PageWrp .title {
        margin-top: 60px;
        font-size: 30px;
        line-height: 40px;

        img {
            max-height: 90px;
        }

        p {
            font-size: 30px;
            margin-top: 40px;
            line-height: 40px;
            letter-spacing: 0.1em;
        }
    }

}
