@import "variables";

.songWrp {
  width: 45%;
  margin: 10px 2%;
  height: 100px;
  background-color: $bgColorLigth;
  border-radius: 20px;
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
  cursor: pointer;

  .imgWrp{
    max-width: 30%;
    height: auto;
    margin: 5px;

    img{
      width: 100%;
      height: auto;
      border-radius: 50%;
    }
  }

  .textWrp{
    text-align: left;

    p{
      margin: 15px 5px;
    }
  }


}

.active {
  background-color: $bgColorBright;
  border: 3px solid $bgColorLigth;
}

