$bgColorDark: rgba(6, 24, 68, 0.8);
$bgColorLigth: rgba(135, 0, 250, 0.8);
$bgColorBright: rgba(255, 29, 190, 0.8);
$TextLigthColor: #FFFFFF;

a {
  text-decoration: none;
}

.PageContainer {
  background-color: $bgColorDark;
  height: 100%;
  min-width: 100vw;
  color: $TextLigthColor;
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
}

.globalBacGround {
  position: absolute;
  height: 100%;
  min-width: 100vw;
  background-color: rgba(6, 24, 68, 0.7);
  z-index: 3;
}

.toMainMenu {
  position: absolute;
  top: 20px;
  right: 20px;
  z-index: 3;

  a {
    color: $TextLigthColor;
  }

  span {
    margin-left: 10px;
  }

  :nth-child(odd) {
    cursor: pointer;
  }
}

//language toogle
.langToggle {
  position: absolute;
  bottom: 20px;
  right: 20px;
  z-index: 3;

  span {
    margin-left: 10px;
  }

  :nth-child(odd) {
    cursor: pointer;
  }
}


  .unvisible {
    visibility: hidden;
  }

  .visible {
    visibility: visible;
  }

@mixin buttonBig {
    background-color: $bgColorBright;
    width: 354px;
    height: 130px;
    border: 3px solid #8700FA;
    box-sizing: border-box;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    border-radius: 48px;
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
    margin-top: 20px;
    cursor: pointer;

    .star {
      position: relative;
      margin-left: 10px;
      height: 100%;
      display: flex;
      align-items: center;

       img {max-height: 85%;}


      span {
        position: absolute;
        left: 37%;
        top: 34%;
        color: $TextLigthColor;
        font-style: normal;
        font-weight: normal;
        font-size: 36px;
        line-height: 49px;
      }
    }

    .text {
      font-style: normal;
      font-weight: normal;
      font-size: 36px;
      line-height: 49px;
      letter-spacing: 0.165em;
      color: $TextLigthColor;
      margin-left: 10px;
      text-align: left;

      .currentSong{
        background-color: $bgColorLigth;
        width: 219px;
        height: 25px;
        left: 647px;
        top: 903px;
        letter-spacing: normal;
        font-style: normal;
        font-weight: normal;
        font-size: 14px;
        line-height: 25px;
      }
    }
}

@mixin buttonSmall {
    background-color: $bgColorBright;
    width: 200px;
    height: 70px;
    border: 1px solid #8700FA;
    box-sizing: border-box;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
    margin-top: 20px;
    cursor: pointer;
    border-radius: 28px;
    -webkit-border-radius: 28px;
    -moz-border-radius: 28px;
    -ms-border-radius: 28px;
    -o-border-radius: 28px;

    .star {
      position: relative;
      margin-left: 10px;
      height: 100%;
      display: flex;
      align-items: center;

      img {
        max-height: 65%;
      }


      span {
        position: absolute;
        left: 37%;
        top: 18%;
        color: $TextLigthColor;
        font-style: normal;
        font-weight: normal;
        font-size: 20px;
        line-height: 49px;
      }
    }

    .text {
      font-style: normal;
      font-weight: normal;
      font-size: 20px;
      line-height: 25px;
      letter-spacing: 0.165em;
      color: $TextLigthColor;
      margin-left: 10px;
      text-align: left;

      .currentSong {
        background-color: $bgColorLigth;
        width: 122px;
        height: 25px;
        letter-spacing: normal;
        font-style: normal;
        font-weight: normal;
        font-size: 8px;
        line-height: 25px;
      }
    }
}